.form {
    /* border: 2px solid green; */
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form input {
    margin: 1% 0% 1.6% 0%;
    width: 70%;
    height: 20%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #fff;
    color: black;
    font-size: 0.8em;
    padding: 1%;
}

.form p {
    margin: 0% 15% 1.4%;
    align-self: end;
    color: rgb(24, 119, 201);
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
}

.form .loginButton {
    width: 25%;
    height: 15%;
    color: white;
    border: none;
    font-weight: lighter;
    background-color: rgb(24, 119, 201);
    cursor: pointer;
    border-radius: 4px;
}

input::placeholder {
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 1;
    /* to override default Firefox opacity */
}

.loginButton:hover {
    background-color: rgb(0, 144, 254);
}

@media (max-width:768px) {
    .form {
        justify-content: flex-start;
        margin-top: 0%;
    }

    .form input {
        margin: 1% 0% 1.6% 0%;
        width: 85%;
        height: 18%;
        font-size: 0.72em;
    }

    .form .loginButton {
        margin-top: 1%;
        width: 25%;
        height: 15%;
    }
}