.welcomeText {
    /* border: 2px solid pink; */
    margin: 2%;
}

.welcomeText h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
}

.welcomeText p {
    text-align: center;
    font-weight: bolder;
    font-size: 0.7em;
}

@media (max-width:600px) {
    .welcomeText h1 {
        font-size: 1.1em;
    }

    .welcomeText p {
        font-size: 0.5em;
    }
}