.welcomeText {
    margin: 2%;
}

.welcomeText h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
}

.welcomeText p {
    text-align: center;
    font-weight: bolder;
    font-size: 0.7em;
}