.window {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .window {
        flex-direction: column;
    }
}