.loginContainer {
    width: 40%;
    height: 43.5%;
    color: black;
    /* border: 2px solid black; */
    border-radius: 12px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.188);
    display: flex;
    flex-direction: column;
}

@media (max-width:600px) {
    .loginContainer {
        width: 85%;
        height: 26%;
    }
}