.window {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {}

@media (max-width: 480px) and (orientation: portrait) {
    .window {
        flex-direction: column;
        overflow-y: hidden;
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    .window {
        flex-direction: column;
        overflow-y: hidden;
    }
}