.progressChart {
    width: 95%;
    /* border: 2px solid brown; */
    margin: 0.5% 1.5% 0.5% 1.5%;
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.progressChartHeadSection {
    width: 100%;
    padding: 0.5% 1.5%;
    background-color: #111;
    color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.progressChartHeadSection h1 {
    background-color: #111;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #fff;
    font-size: 1.5em;
    cursor: default;
}

.progressChart .formContainer {
    margin-top: 1%;
    margin-left: 1%;
    width: 100%;
    display: flex;
}

.progressChart .formContainer div {
    display: flex;
    gap: 1%;
    width: 20%;
}

.progressChart input {
    padding: 0.2% 0.4%;
    margin-bottom: 0.4%;
    /* width: 40%; */
    font-size: 1em;
}

.progressChart input::placeholder {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
}

.progressChart label {
    font-size: 1em;
    font-weight: 500;
}

.progressChart select {
    width: 50%;
    height: 95%;
    margin-left: 1%;
    font-size: 0.9em;
    font-weight: 400;
}


.progressChart .lineChartContainer {
    /* border: 1px solid red; */
    width: 100%;
}

.lineChart {
    border: 1px solid rgba(17, 17, 17, 0.4);
    border-radius: 10px;
    margin: 0% auto 1%;
    padding: 1% 3% 0% 0%;
    width: 95%;
    aspect-ratio: 3.5;
}

.recharts-surface {
    outline: none;
}