.progressRecordContainer {
    margin: 0% 1% 1% 1%;
    width: 95%;
    border-radius: 12px;
    border: 1px solid rgba(17, 17, 17, 0.5);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.progressRecordContainer .progressRecordHeadSection {
    width: 100%;
    padding: 0.5% 1.5%;
    background-color: #111;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressRecordContainer .progressRecordHeadSection h1 {
    color: #fff;
    margin: 0;
    font-size: 1.5em;
    cursor: default;
}

.progressRecordContainer .progressRecordHeadSection .buttonsContainer {
    display: flex;
    gap: 0.8em;
    align-items: center;
}

.progressRecordContainer .progressRecordHeadSection button {
    padding: 2% 7%;
    font-size: 0.95em;
    cursor: pointer;
}

.progressRecordContainer .progressRecordHeadSection .xMark {
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.progressRecordContainer .progressRecordHeadSection .xMark:hover {
    color: #ff4d4d;
    transform: scale(1.2, 1.2);
}

.progressListContainer {
    margin: 1% 0;
    display: flex;
    justify-content: center;
}

.progressListContainer table {
    width: 96%;
    border-collapse: collapse;
    text-align: center;
    font-size: 1em;
}

.progressListContainer th,
.progressListContainer td {
    border: 1px solid #ccc;
    padding: 0.5% 0.5%;
}

.progressListContainer th {
    background-color: #222;
    color: #fff;
    font-weight: 600;
}

.progressListContainer td {
    font-size: 0.9em;
}

.progressListContainer table button {
    margin: 0% 1.5%;
    padding: 1.5% 2.5%;
    cursor: pointer;
}