.cardContainers {
    /* width: 100%; for both physio */
    width: 65%;
    height: 100%;
    background-color: #fff;
    border: 1px solid rgba(17, 17, 17, 0.5);
    padding: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}