.notificationContainer {
    height: 100%;
    /* width: 40%; for Both physio */
    width: 35%;
    background-color: #fff;
    border: 1px solid rgba(17, 17, 17, 0.3);
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    /* display: none; */
}

.notificationContainer h3 {
    height: 9%;
    /* width: 17.95%; for both */
    width: 100%;
    padding-top: 1%;
    background-color: #111;
    border: 1px solid #111;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    cursor: default;
}

.listContainer {
    width: 100%;
    height: 91%;
    margin-top: 0%;
    /* border: 1px solid red; */
    overflow-y: auto;
    scrollbar-width: none;
}

.notificationContainer ul {
    list-style: none;
}

.notificationContainer ul li {
    padding: 1% 6%;
    border-bottom: 1px solid #e0e0e0;
    color: #555;
    font-size: 0.95em;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.noNotification p {
    width: 100%;
    font-size: 1.15em;
    text-align: center;
}

.notificationContainer span {
    font-size: 1.3em;
    margin-right: 5%;
}

.notificationContainer ul li:last-child {
    border-bottom: none;
}

.notificationContainer ul li:hover {
    background-color: #f0f0f0;
}

@media (max-width:480px) and (orientation: portrait) {
    .notificationContainer {
        width: 90%;
        height: 71%;
    }

    .notificationContainer h3 {
        height: 11%;
        width: 100%;

    }

    .listContainer {
        width: 100%;
        height: 89%;
    }
}

@media (max-height:500px) and (orientation: landscape) {
    .notificationContainer {
        width: 40%;
        height: 85%;
        align-self: center;
    }

    .notificationContainer h3 {
        height: 17%;
        width: 100%;
        font-size: 1.2em;
    }

    .listContainer {
        width: 100%;
        height: 83%;
    }

    .notificationContainer ul li {
        padding: 1% 6%;
        font-size: 0.9em;
    }

    .notificationContainer span {
        font-size: 1.2em;
    }
}