.notificationContainer {
    height: 100%;
    /* width: 40%; for Both physio */
    width: 35%;
    background-color: #fff;
    border: 1px solid rgba(17, 17, 17, 0.3);
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.notificationContainer h3 {
    height: 7%;
    /* width: 17.95%; for both */
    width: 21%;
    margin-bottom: 4%;
    padding: 0.1%;
    background-color: #111;
    border: 1px solid #111;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    cursor: default;
    position: fixed;
}

.listContainer {
    width: 100%;
    height: 90%;
    margin-top: 18%;
    overflow-y: auto;
    scrollbar-width: none;
}

.notificationContainer ul {
    list-style: none;
}

.notificationContainer ul li {
    padding: 1% 6%;
    border-bottom: 1px solid #e0e0e0;
    color: #555;
    font-size: 0.95em;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.notificationContainer span {
    font-size: 1.3em;
    margin-right: 5%;
}

.notificationContainer ul li:last-child {
    border-bottom: none;
}

.notificationContainer ul li:hover {
    background-color: #f0f0f0;
}