.memberNavigationButtons {
    width: 95%;
    margin: 0 auto 0.5% auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}

.memberNavigationButtons button {
    padding: 0.5% 1%;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 9px;
    background-color: #E5E5E5;
    transition: all 0.3s;
}

.memberNavigationButtons button:hover {
    padding: 0.5% 1%;
    font-size: 1em;
    background-color: #111;
    color: #fff;
}

.actionContainer {
    margin: 0.5%;
    width: 95%;
    height: 100%;
    border: 1px solid red;
}

@media (max-width:480px) and (orientation: portrait) {
    .memberNavigationButtons {
        width: 95%;
        margin: 1% auto 1.9% auto;
        gap: 1%;
    }

    .memberNavigationButtons button {
        padding: 2% 1%;
        font-size: 0.65em;
    }
}

@media (max-height:500px) and (orientation: landscape) {
    .memberNavigationButtons {
        width: 95%;
        margin: 0.5% auto 1.2% auto;
        gap: 1%;
    }

    .memberNavigationButtons button {
        padding: 0.9% 1%;
        font-size: 0.8em;
    }
}