.gymDashboard {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gymDashboard .MainContainer {
    display: flex;
    height: 91%;
    width: 100%;
    /* border: 1px solid blue; */
    /* justify-content: center; */
    flex-direction: row;
}