.gymDashboard {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.gymDashboard .MainContainer {
    display: flex;
    margin-top: 4.75%;
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
    /* justify-content: center; */
    flex-direction: row;
}