.gymDashboardNavContainer {
    height: 10.1%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #111;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
}

.gymDashboardNavContainer img {
    width: 5%;
    border-radius: 15%;
}

.gymDashboardNavContainer>div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.gymDashboardNavContainer h1 {
    font-size: 1.8em;
    cursor: default;
    transition: color 0.3s;
}

.gymDashboardNavContainer button {
    padding: 6px 12px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.gymDashboardNavContainer button:hover {
    background-color: #ff4d4d;
    color: white;
}