.addTrainerContainer {
    /* position: fixed; */
    width: 97%;
    /* border: 2px solid brown; */
    margin: 1.5% 1.5% 1.5% 1.5%;
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.addTrainerHeadSection {
    width: 100%;
    padding: 0.5% 1.5%;
    background-color: #111;
    color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addTrainerHeadSection h1 {
    margin-left: 0%;
    background-color: #111;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #fff;
    font-size: 1.5em;
    cursor: default;
}

.addTrainerHeadSection .xMark {
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.addTrainerHeadSection .xMark:hover {
    color: #ff4d4d;
    transform: scale(1.2, 1.2);
}

.addTrainerContainer .formContainer {
    margin: 1.5% 1.5% 6%;
    width: 100%;
    /* border: 1px solid red; */
    padding-bottom: 1.4%;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 40% 40%;
    grid-auto-rows: auto;
    justify-content: center;
}

.addTrainerContainer input {
    font-size: 0.9em;
    padding: 0.2% 0.4%;
    margin-bottom: 0.4%;
    width: 95%;
    font-size: 1em;
}

.addTrainerContainer input::placeholder {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
}

.addTrainerContainer label {
    font-size: 1em;
    font-weight: 500;
}

.addTrainerContainer select {
    margin-left: 1%;
    font-size: 0.9em;
    font-weight: 400;
}

.addTrainerContainer .buttonContainer {
    width: 15%;
    margin-top: 1%;
    font-size: 0.5em;
    font-weight: 500;
    display: flex;
    /* To keep buttons side by side */
    grid-row: 6;
    grid-column: 1/3;
    justify-content: center;
    gap: 12%;
    justify-self: center;
    align-self: end;
}

.addTrainerContainer .formContainer .buttonContainer button {
    padding: 2.5% 3.5%;
    cursor: pointer;
}