.trainerPageContainer {
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
    overflow-y: auto;
}

.trainerPageContainer .infoCardContainer {
    width: 100%;
    height: 20%;
    padding: 1% 0%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
}