.trainerNavigationButtons {
    width: 95%;
    margin: 0 auto 0.5% auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}

.trainerNavigationButtons button {
    padding: 0.5% 1%;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 9px;
    background-color: #E5E5E5;
    transition: all 0.3s;
}

.trainerNavigationButtons button:hover {
    padding: 0.5% 1%;
    font-size: 1em;
    background-color: #111;
    color: #fff;
}

.actionContainer {
    margin: 0.5%;
    width: 95%;
    height: 100%;
    border: 1px solid red;
}