.trainerTableContainer {
    margin: 0 1.5% 1.5% 1.5%;
    width: 97%;
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headContainer {
    width: 100%;
    padding: 0.5% 1.5%;
    background-color: #111;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headContainer h1 {
    color: #fff;
    margin: 0;
    font-size: 1.5em;
    cursor: default;
}

.searchContainer {
    width: 40%;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.searchContainer input {
    width: 45%;
    padding: 0.8% 3%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.searchContainer input::placeholder {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
}


.searchContainer button {
    padding: 0.5% 1.3%;
    cursor: pointer;
}

.trainerTableContainer table {
    width: 96%;
    margin: 1.5% auto 0.5% auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.9em;
}

.trainerTableContainer th,
.trainerTableContainer td {
    border: 1px solid #ccc;
    padding: 0.5% 1%;
}

.trainerTableContainer th {
    background-color: #222;
    color: #fff;
    font-weight: 600;
}

.trainerTableContainer table button {
    padding: 1.5% 2.5%;
    cursor: pointer;
}

.trainerTableContainer .pagination {
    margin-bottom: 0.5%;
    /* border: 1px solid blue */
}

.trainerTableContainer .pagination p {
    display: flex;
    justify-content: center;
    align-items: end;
    /* border: 1px solid red; */
    color: rgba(0, 0, 0, 0.5);
}

.trainerTableContainer .pagination .leftIcon,
.rightIcon {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

/* .paymentStatus-paid {
    color: #2e7d32;
    font-weight: 600;
}

.paymentStatus-pending {
    color: #f57c00;
    font-weight: 600;
}

.membershipStatus-active {
    color: #2e7d32;
    font-weight: 600;
}

.membershipStatus-expired {
    color: #dc3545;
    font-weight: 600;
} */