.revenue-section {
  margin: 0 1.5% 1.5% 1.5%;
    width: 97%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.revenue-title {
  background-color: #111;      /* Black background */
  color: #fff;                 /* White text */
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;  /* Rounded top corners */
  width: 100%;
  margin-bottom: 20px;
}

.report-section {
  margin: 0 1.5% 1.5% 1.5%;
    width: 96%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.report-section h3 {
    background-color: #111;      /* Black background */
  color: #fff;                 /* White text */
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;  /* Rounded top corners */
  width: 100%;
  margin-bottom: 20px;
  
}
.report-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.report-buttons button {
  padding: 1.5%;
  cursor: pointer;
  margin: 2%;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.report-buttons button:hover {
  background-color: #0056b3;
}


.report-table {
  width: 96%;
  border-collapse: collapse;
  
}

.report-table th,
.report-table td {
  border: 1px solid #ccc;
    padding: 0.5% 1%;
}

.report-table th {
   background-color: black;
  font-weight: 600;
  color: #ffffff;
}
