

.finance-page {
  width:100%;
  height:100%;
  border:2px solid red;
  overflow-y: auto;
}
.summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  flex-wrap: wrap;
  gap: 2%;
  padding:0,10%;
}

@media (max-width: 768px) {
  .summary-container { flex-direction: column; gap: 15px; }
}
