/* Reset and universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100vh;
  width: 100vw;
  background: #f6f8fa;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}